extends layout
block content
    h3 Create new gather
    .row
        form.col.s12
            .row
                .input-field.col.s12
                    input(id="name" type="text").validate
                    label(for="name") Name
            .row
                .input-field.col.s6
                    label(for="startingDate") Starting date
                    input(id="startingDate" type="text").datepicker
                .input-field.col.s6
                    input(id="startingTime" type="text").validate
                    label(for="startingTime") Starting time
            .row
                .input-field.col.s6
                    input(id="teamSize" type="text").validate
                    label(for="teamSize") Team size
                .input-field.col.s6
                    select
                        option(value="" selected) Choose skill
                        option(value="1") Low
                        option(value="2") Med
                        option(value="3") High
                    label Skill
            .row
                button(type="submit" name="action").btn.waves-effect.waves-light Submit
                    i.mdi-content-send.right
