extends layout

block content
    h1= title
    p Welcome to #{title}
    .collection-header
        h4 Gathers
    .collection#gatherList
        a(href="#!").collection-item Gather1 - DD:MM:YYYY HH:MM - 8/10
        a(href="#!").collection-item Gather2 - DD:MM:YYYY HH:MM - 8/10
        a(href="#!").collection-item Gather3 - DD:MM:YYYY HH:MM - 8/10
        a(href="#!").collection-item Gather4 - DD:MM:YYYY HH:MM - 8/10
        a(href="#!").collection-item Gather5 - DD:MM:YYYY HH:MM - 8/10
    a(href="/gathers/create").waves-effect.waves-light.btn New Gather
