doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='/javascripts/materialize.min.js')
        script(src='/javascripts/global.js')
