extends layout
block content
    if owner
        h1.header owner.local.nick
        p Welcome to #{owner.nick}'s proile
        p Email: #{owner.local.email}
        p ID: #{owner._id}
        if user
            if owner._id.toString() == user._id.toString()
                p
                    a(href="#") Change Settings
    else
        h1 Not a user