div.page-content {
    padding: 0 50px;
}

nav {
    height: 64px;
}

nav .right-nav {
    float: right;
    margin-left: 30px
}
nav .nav-wrapper {
    padding: 0 30px;
}

nav ul a {
    color: #343434;
}
