div.page-content {
    padding: 0 50px;
}

nav {
    height: 64px;
}

nav .right-nav {
    float: right;
    margin-left: 30px
}
nav .nav-wrapper {
    padding: 0 30px;
}

nav ul a {
    color: #343434;
}
.modal .modal-footer .btn{
    margin: 6px 3px;;
}

.primary-content{
    color: #26a69a;
}

.control-panel a {
    margin: 5px;
}